  /* Gallery */
  .gallery{
    margin: 10px 50px;
  }
  .gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
  }
  .gallery img:hover{
    transform: scale(1.1);
  }

  div.polaroid {
  width: 84.5%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.btn-cv {
  background-color: #5dbcd2;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
}

.btn-cv:hover {
  background-color: #5dbce2;
  text-color: #5dbce2;
}

.fa-tiktok {
  color: #ffffff;
  
  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}
